<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edd"
        tools:targetApi="31">
        <activity
            android:name=".QueNum20"
            android:exported="false" />
        <activity
            android:name=".QueNum19"
            android:exported="false" />
        <activity
            android:name=".QueNum18"
            android:exported="false" />
        <activity
            android:name=".QueNum17"
            android:exported="false" />
        <activity
            android:name=".QueNum16"
            android:exported="false" />
        <activity
            android:name=".QueNum15"
            android:exported="false" />
        <activity
            android:name=".QueNum14"
            android:exported="false" />
        <activity
            android:name=".QueNum13"
            android:exported="false" />
        <activity
            android:name=".QueNum12"
            android:exported="false" />
        <activity
            android:name=".QueNum11"
            android:exported="false" />
        <activity
            android:name=".QueNum10"
            android:exported="false" />
        <activity
            android:name=".QueNum9"
            android:exported="false" />
        <activity
            android:name=".QueNum8"
            android:exported="false" />
        <activity
            android:name=".QueNum7"
            android:exported="false" />
        <activity
            android:name=".QueNum6"
            android:exported="false" />
        <activity
            android:name=".QueNum5"
            android:exported="false" />
        <activity
            android:name=".QueNum4"
            android:exported="false" />
        <activity
            android:name=".QueNum3"
            android:exported="false" />
        <activity
            android:name=".QueNum2"
            android:exported="false" />
        <activity
            android:name=".QueNum1"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>